# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
.next/
.out/

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js specific ignores
.next/cache/
.next/static/
.next/standalone/
.next/server/
.next/serverless/
.next/trace
.next/BUILD_ID
.next/prerender-manifest.json
.next/react-loadable-manifest.json
.next/routes-manifest.json
.next/serverless-manifest.json
.next/static-manifest.json
.next/required-server-files.json
.next/server/pages-manifest.json
.next/serverless/pages-manifest.json
